In [61]:
import pandas as pd
import numpy as np

In [62]:
files_import = "Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(files_import)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [63]:
#counting the number of players
total_players_df = len(purchase_data_df)
total_players_df = pd.DataFrame({"Total Players":total_players_df}, index = [0])
total_players_df

   Total Players
0            780

In [64]:
# unique Items 
unique_items_df = purchase_data_df["Item Name"].nunique()
#average price
average_price_df = purchase_data_df["Price"].mean()
#number of purchases
number_of_purchases = purchase_data_df["Purchase ID"].count()
#total rev
total_rev = purchase_data_df["Price"].sum()
summary_table = pd.DataFrame({"Number of Unique Items": [unique_items_df], "Average Price":[average_price_df], "Number of purchases":[number_of_purchases], "Total Revenue":[total_rev] })
summary_table

   Number of Unique Items  Average Price  Number of purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [65]:
#count gender
gender_count_df = purchase_data_df.groupby ("Gender")["SN"].nunique()
gender_count_df.nunique()
#sum of gender
gender_count_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [66]:
# Gender percentage
percentage_gender = gender_count_df / gender_count_df.sum()
percentage_gender.round()
percentage_gender.head()

Gender
Female                   0.140625
Male                     0.840278
Other / Non-Disclosed    0.019097
Name: SN, dtype: float64

In [68]:
summary = pd.DataFrame({"Total Count": gender_count_df, "Percentage":percentage_gender })
summary.head()

                       Total Count  Percentage
Gender
Female                          81    0.140625
Male                           484    0.840278
Other / Non-Disclosed           11    0.019097

In [69]:
#Purchasing Analysis (Gender)
# count by gender
purchase_count = gender_count_df.nunique()
purchase_count
average_price = gender_count_df / purchase_count
average_price
sum_price = gender_count_df.mean()
average_person = average_price / average_price.sum()
average_person
purchase_analysis = pd.DataFrame({"Purchase Count":purchase_count, "Average Price":average_price,"Average Per Person":average_person,"Total":sum_price})
purchase_analysis

,Purchase Count,Average Price,Average Per Person,Total
Gender,,,,
Female,3,27.000000,0.140625,192.0
Male,3,161.333333,0.840278,192.0
Other / Non-Disclosed,3,3.666667,0.019097,192.0

In [86]:
# Age group
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
purchase_data_df['total count'] = pd.cut(purchase_data_df['Age'],bins, labels= group_names)
purchase_data_df
groups_of_age = purchase_data_df.groupby('total count')
groups_of_age_df = groups_of_age.count()
groups_of_age_df
age_group_only = groups_of_age_df['Age']
age_group_only
final_ages = pd.DataFrame({"Age Groups":age_group_only})
final_ages

             Age Groups
total count
<10                  32
10-14                54
15-19               200
20-24               325
25-29                77
30-34                52
35-39                33
40+                   7

In [90]:
# Age Analysis
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
purchase_data_df['total count'] = pd.cut(purchase_data_df['Item ID'], bins, labels= group_names)
group2_age = purchase_data_df.groupby('total count')
group2_age.head()
# group2_age_df = group2_age.count()
# group2_age_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,total count
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,NaN
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,NaN
2,2,Ithergue48,24,Male,92,Final Critic,4.88,40+
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,40+
4,4,Iskosia90,23,Male,131,Fury,1.44,NaN
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,40+
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,NaN
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,NaN
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,40+
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,<10
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,40+
16,16,Lisirra25,20,Male,40,Second Chance,2.52,35-39
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,35-39
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33,<10
44,44,Tyeosri53,24,Male,9,"Thorn, Conqueror of the Corrupted",2.73,<10
50,50,Saelaephos52,21,Male,22,Amnesia,2.18,20-24
51,51,Chanosia34,22,Male,15,Soul Infused Crystal,2.96,10-14
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,20-24
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,30-34
66,66,Chanastsda67,21,Female,6,Rusty Skull,3.70,<10
68,68,Indonmol95,15,Male,27,"Riddle, Tribute of Ended Dreams",3.30,25-29
69,69,Jiskossa61,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,35-39
71,71,Hari50,20,Female,29,"Chaos, Ender of the End",1.98,25-29
77,77,Lirtosia63,34,Male,20,Netherbane,3.27,15-19
79,79,Assjaskan56,26,Male,15,Soul Infused Crystal,2.96,10-14
83,83,Aina42,25,Male,12,Dawne,1.02,10-14
84,84,Jiskjask60,21,Female,34,Retribution Axe,2.22,30-34
85,85,Umolrian85,32,Female,33,Curved Axe,1.16,30-34
89,89,Eoralrap26,22,Male,17,"Lazarus, Terror of the Earth",1.70,15-19
92,92,Chadistaya75,21,Female,39,"Betrayal, Whisper of Grieving Widows",3.94,35-39
100,100,Pheodaisun84,30,Male,12,Dawne,1.02,10-14
103,103,Frichim77,24,Male,7,"Thorn, Satchel of Dark Souls",1.33,<10
109,109,Hirirap39,22,Male,33,Curved Axe,1.16,30-34
115,115,Nitherian58,28,Male,13,Serenity,1.41,10-14
120,120,Lisosia93,25,Male,24,Warped Fetish,3.81,20-24
159,159,Tyaelorap29,25,Male,39,"Betrayal, Whisper of Grieving Widows",3.94,35-39
166,166,Sondim68,22,Female,30,Stormcaller,2.21,25-29
184,184,Aisur51,28,Male,32,Orenmir,1.14,30-34
237,237,Idairin51,20,Other / Non-Disclosed,16,Restored Bauble,3.55,15-19
239,239,Eodailis27,30,Male,19,"Pursuit, Cudgel of Necromancy",1.02,15-19
249,249,Sundirrala66,20,Male,16,Restored Bauble,3.55,15-19
253,253,Aesty53,21,Male,28,"Flux, Destroyer of Due Diligence",1.06,25-29
385,385,Hiral75,22,Male,29,"Chaos, Ender of the End",1.98,25-29

In [56]:
# Top Spenders
spender = purchase_data_df.groupby("SN")
count_spender = spender["Purchase ID"].count()
count_spender
item_names = spender["Item Name"]
item_names
spender_avg = spender["Price"].mean()
total_spender = spender["Price"].sum()
top_spender = pd.DataFrame({"Purchase Count": count_spender, "Item Name":item_names,"Average Purchase Price":spender_avg,"Total Purchase Value": total_spender})
top_spender.head(10)

,Purchase Count,Item Name,Average Purchase Price,Total Purchase Value
SN,,,,
Adairialis76,1,"(Adairialis76, [Twilight's Carver])",2.280000,2.28
Adastirin33,1,"(Adastirin33, [Woeful Adamantite Claymore])",4.480000,4.48
Aeda94,1,"(Aeda94, [Blazeguard, Reach of Eternity])",4.910000,4.91
Aela59,1,"(Aela59, [Stormbringer, Dark Blade of Ending M...",4.320000,4.32
Aelaria33,1,"(Aelaria33, [Scalpel])",1.790000,1.79
Aelastirin39,2,"(Aelastirin39, [Haunted Bronzed Bludgeon, Frea...",3.645000,7.29
Aelidru27,1,"(Aelidru27, [Dragon's Greatsword])",1.090000,1.09
Aelin32,3,"(Aelin32, [Wolf, Severance, Spectral Diamond D...",2.993333,8.98
Aelly27,2,"(Aelly27, [Renewed Skeletal Katana, Possessed ...",3.395000,6.79
Aellynun67,1,"(Aellynun67, [Mercenary Sabre])",3.740000,3.74